<a href="https://colab.research.google.com/github/seulkioh91/python_practice_alone/blob/main/210331homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# ① 김씨와 이씨는 각각 몇 명 인가요?
name = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",") #이름을 ,기준으로 나누기
kim=0 #김씨 변수값 초기화
lee=0 #이씨 변수값 초기화

for i in name:  #이름 안에서 돌려준다
  if i.startswith('김'):  #김씨로 시작하면
    kim=kim+1 #김씨에 1씩 추가
  elif i.startswith('이'):  #이씨로 시작하면
    lee=lee+1 #이씨에 1씩 추가
print('김씨 :', kim)  #김씨 몇명 출력
print('이씨 :', lee)  #이씨 몇명 출력

김씨 : 2
이씨 : 6

In [27]:
# ② "이재영"이란 이름이 몇 번 반복되나요?
name = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",") #이름을 ,기준으로 나누기
name.count("이재영")  #이재영 세기

3

In [37]:
# ③ 중복을 제거한 이름을 출력하세요.
name = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",") #이름을 ,기준으로 나누기
print(set(name),end=",") #중복 제거 set하고 가로로 출력

{'이유덕', '이재영', '송정환', '김재성', '권종표', '김지완', '박영서', '최승혁', '이성연', '전경헌', '박민호', '강상희'},

In [39]:
# ④ 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요
name = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",") #이름을 ,기준으로 나누기
a=set(name) #a에 중복 제거값 담아주기
print(sorted(a),end=",") #a를 정렬 후 가로로 출력

['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁'],