<a href="https://colab.research.google.com/github/seulkioh91/python_practice_alone/blob/main/210303Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input()) # 숫자 대입
re = 0  # 변수를 초기화

for i in range(1, n+1): #1부터 그 수까지 반복
  if n % i == 0: # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1 # 변수 re를 하나씩 증가
     
if re == 2: # 변수가 2이면 
  print('True') # True 출력
else: # 아니면
  print('False') #False 출력

11
True

In [2]:
n = int(input()) # 숫자 대입
re = 0  # 변수를 초기화

for i in range(1, n+1): #1부터 그 수까지 반복
  if n % i == 0: # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1 # 변수 re를 하나씩 증가
     
if re == 2: # 변수가 2이면 
  print('True') # True 출력
else: # 아니면
  print('False') #False 출력

15
False

In [3]:
n = int(input()) # 숫자 대입
re = 0  # 변수를 초기화

for i in range(1, n+1): #1부터 그 수까지 반복
  if n % i == 0: # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1 # 변수 re를 하나씩 증가
     
if re == 2: # 변수가 2이면 
  print('True') # True 출력
else: # 아니면
  print('False') #False 출력

1
False

In [7]:
x, y = 2, 5
while y-x < 5:
  print(x*y, end=' ')
  x += 3
  y += 4

10 45

In [8]:
x = {'x':1, 'y':2, 'z':3}
for i in x:
  print(i, end=' ')

x y z

In [9]:
x = ['p','y','t','h','o','n']
for i in enumerate(x):
  print(i, end='')

(0, 'p')(1, 'y')(2, 't')(3, 'h')(4, 'o')(5, 'n')

In [14]:
n = int(input())
b = 0
for i in range(i,n):
  if n%1 == 0:
    b == 1
  if b == 0:
    print("True")
  else:
    print("False")

1